:root {
  --bg: #daff4a;
  --fg: #000;
  --text: black;
  --cta: #ff0000;
}
img {
  width: 45rem;
}
img:first-child {
  /* position: absolute; */
}
audio {
  position: absolute;
  bottom: 0;
  left: 0;
}

* {
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
  flex-direction: column;
  justify-content: flex-start;


  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
article {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  min-height: 50vh;
  background: white;
  align-self: stretch;
  padding: 1rem 1rem 12rem;
}
pre {
  font-size: 0.8rem;
}

@keyframes load-bob {
  from {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 5px, 0);
  }
}

#p5_loading {
  font-size: 1rem;
  color: white;
  background: black;
  padding: 1rem;
  animation: load-bob 0.2s ease-out infinite;
  bottom: 50%;
  /* top: 50%; */
  /* right: 4rem; */
}

.tag {
  top: 0;
}

#controls {
  /* position: absolute; */
  /* transform: rotate(-90deg); */
  /* right: 0.5rem; */
  /* top: 50%; */
  display: flex;
  position: fixed;
  bottom: 1rem;
  padding: 0 0.5rem;
  width: 100%;
  /* max-width: 45rem; */
  left: 50%;
  transform: translate3D(-50%, 0, 0);
  /* flex-direction: column; */
  /* width: 4.5rem; */
}

#controls button {
}

#controls button:active {
  /* transform: scale(0.98); */
}

#rate {
  display: flex;
  margin: 0 0.5rem;

  position: relative;

  padding-bottom: 1rem;


  display: none;
}

#rate::before,
#rate::after,
#rate button:first-of-type::before {
  position: absolute;
  bottom: -1em;
  font-size: 0.7rem;
  transform: rotate(-90deg);
  transform-origin: 0 50%;
  letter-spacing: 0.5em;
  color: var(--fg);
}

#rate::before {
  left: 0;
  content: "-666%";
}

#rate::after {
  left: 100%;
  content: "+666%";
}

#rate button:first-of-type::before {
  bottom: 0;
  left: 50%;
  bottom: 1em;
  content: "0%"
}

#rateMeter {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 1rem);
  height: 0.5rem;
  margin-bottom: -0.25rem;
  transform: translateX(-50%);
  -moz-appearance: none;

  background: var(--nk);
}
#rateMeter::-moz-meter-bar {
  background: var(--bg);
  box-shadow: inset 0 0 0 2px var(--nk);
}

.throb {
  /* animation: load-bob 2s ease-out infinite alternate-reverse; */
  /* background: green !important; */
  /* color: white !important; */
}
#play {
}

#rate button:first-of-type {
}

#play {
  margin-left: auto !important;
  color: white;

  padding: 1rem 1.2rem;
  margin: 0 0.5rem;
  /* margin: 0 0.5rem; */

  border: none;
  border-radius: 0.75rem;

  color: white;
  background: var(--fg);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  /* border-radius: 20px; */
  border: 2px solid #fbf4f40d;

  font-size: 1.2rem;
  letter-spacing: 0.25em;

	transition: transform 0.1s cubic-bezier(0.34, 3, 0.64, 1);
}    

canvas {
  width: 80vmin !important;
  height: 80vmin !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
img {

  /* animation: spin 120s linear infinite; */
}
audio {
  position: absolute;
  bottom: 0;
  left: 0;
}
h1, h2 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  display: inline;
  /* letter-spacing: 0.2em; */
}

section a {
  display: inline-block;
  padding: 1rem;
  padding-left: 0;
}


.down {
  transform: scale(1.1) !important;
}

.plus {
  display: block;
  text-align: center;
  padding: 1rem;
}

.tag {
  width: 3.5rem;
}

.credits {
  display: inline-block;
}
