:root {
  --fg: black;
  --bg: white;
  --link: #001AFF;
  --link-active: #FF00B8;
  --link-visited: #A46DC6;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;

  color: var(--fg);
  background: var(--bg);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
}

header > *:first-child {
  margin-right:  1em;
}

h1 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}

p {
  font-size: 1em;
  margin: 0;
}


h2, h3, footer {
  text-transform: lowercase;
  font-family: 'Major Mono Display', monospace;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

a {
  display: inline-block;
}

a:link {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

a:hover,
a:focus,
a:active {
  color: var(--link-active);
}

main {
  padding: 3rem;
}

li {
  margin: 1rem 0;
}
