html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'IBM Plex Mono', monospace;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--bg);
  color: var(--text);
}

main {
  display: flex;
}

p {
  margin: 0;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.tag {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 6.5rem;
}

.tag svg {
  display: block;
  max-width: 100%;
  height: auto;

  color: var(--bg);
}

.tag svg .bg {
  fill: var(--fg);
}

.label {
  text-align: right;
  transform: translate(-100%, 0) rotate(-90deg);
  transform-origin: bottom right;
}

.listing a {
  display: inline-block;
  padding: 0.5em;
}

img {
  max-width: 100%;
}
